<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>

<body>

    <header>

    </header>

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>


        <div class="row">
            <h3 class="h3" align="center">INVENTARIO</h3>
        </div>

    <form action="/ordenCompra" method="get">
        <div class="row">
            <div class="col-3">
                <button name="realizarOrden" type="submit" class="btn btn- btn-secondary">Realizar Pedido</button>
            </div>
        </div>
    </form>


    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

    <div class="row justify-content-center">
        <div class="row">
            <div class="col-12">
                <form th:action="@{/realizarMovimiento}" method="post">

                    <div class="row">

                        <div class="col-3">
                            <label for="codigoArticulo" class="form-label"><b>Codigo del articulo:</b></label>
                            <input type="text" id="codigoArticulo" class="form-control" name="codigoArticulo" fullwidth
                                required>
                        </div>


                        <div class="col-3">
                            <label for="codigoAlmacen" class="form-label"><b>Codigo del Almacen</b></label>
                            <input type="text" id="codigoAlmacen" class="form-control" name="codigoAlmacen" fullwidth
                                required>
                        </div>


                        <div class="col-3">
                            <label for="tipoMovimiento" class="form-label"><b>Tipo de movimiento</b></label>
                            <select id="tipoMovimiento" class="form-select" name="tipoMovimiento" fullwidth required>
                                <option value="ENTRADA">ENTRADA</option>
                                <option value="SALIDA">SALIDA</option>
                            </select>
                        </div>

                        <div class="col-3">
                            <label for="cantidad" class="form-label"><b>Cantidad</b></label>
                            <input type="number" min="1" id="cantidad" class="form-control" name="cantidad" fullwidth
                                required>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-2">
                            <button name="realizarMovimiento" type="submit" class="btn btn- btn-primary">Realizar
                                Movimiento</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <!-- Orden inicio -->
    <!-- <div class="row justify-content-center">
        <div class="row">
            <div class="col-12">
                <form th:action="@{/realizarOrdenCompra}" method="post">

                    <div th:with="course = ${ { 'Java', 'Oracle' } }">
                        <div th:each="tab, cou:${course}">
                            <p th:text="${tab}"></p>
                        </div>
                    </div>

                    <div id="orden-form-container">
                        <div class="row">

                            <div class="col-2">
                                <label class="form-label"><b>Codigo del articulo:</b></label>
                                <input type="text" class="form-control" name="codigoArticuloOrden" fullwidth required>
                            </div>

                            <div class="col-2">
                                <label class="form-label"><b>Fecha de la orden</b></label>
                                <input type="date" class="form-control" name="fechaOrden" fullwidth required>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-2">
                                <label class="form-label"><b>Cantidad</b></label>
                                <input type="number" min="1" class="form-control" name="cantidadOrden" fullwidth
                                    required>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                    </div>
                    <a onclick="addOrdenFields()" class="btn btn-secondary">+</a>
                    <div class="row">
                        <div class="col-2">
                            <button name="realizarOrdenCompra" type="submit" class="btn btn- btn-primary">Realizar
                                Orden</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div> -->
    <!-- Orden fin -->


    <div class="row">&nbsp;</div>
    <div class="row">
        <h2 class="h4" align="left">Balance Inventario</h2>
    </div>

    <table  class="table table-striped">
        <thead class="thead-light">
            <tr align="center">
                <th scope="col">Codigo Articulo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">CodigoAlmacen</th>
                <th scope="col">Balance</th>

            </tr>
        </thead>
        <tbody class="table-hover">
            <tr align="center" th:each="articulo : ${listaArticulos}">
                <td th:text="${articulo.codigoArticulo}">Pasola</td>
                <td th:text="${articulo.descripcion}">1</td>
                <td th:text="${articulo.almacen.codigoAlmacen}">1000</td>
                <td th:text="${articulo.almacen.balanceActual}">1000</td>
            </tr>
        </tbody>
    </table>

    <div class="row">&nbsp;</div>
    <div class="row">
        <h2 class="h4" align="left">Consumo Diario</h2>
    </div>
    <div class="row">
        <table style="width: 38%" class="table table-striped">
            <thead class="thead-light">
                <tr align="center">
                    <th scope="col">Codigo Articulo</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <tr align="center" th:each="consumo : ${listaConsumos}">
                    <td th:text="${consumo.codigoArticulo}">Pasola</td>
                    <td th:text="${consumo.promedioConsumo}">1</td>
                </tr>
            </tbody>
        </table>
    </div>





    <style>
        table {
            width: 100%;
        }

        thead,
        tbody,
        tr,
        td,
        th {
            display: block;
        }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 60px;
            /*text-align: left;*/
        }

        tbody {
            height: 300px;
            overflow-y: auto;
        }

        thead {
            /* fallback */
        }

        tbody td,
        thead th {
            width: 25%;
            float: left;
        }
    </style>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- <script>
        function addOrdenFields() {
            // Get the element
            var elem = document.querySelector("#orden-form-container");

            // Create a copy of it
            var clone = elem.cloneNode(true);

            // Inject it into the DOM
            elem.after(clone);
        }
    </script> -->


</body>

</html>